#page {
	display:flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

nav {
	min-width: 10%;
}

main {
	margin-left: 10px;
}


header, img {
	width: 100%;
}

body {
	margin:0;
}

#navigation {
	display:flex;
	justify-content: space-between;
}



.gallerie {
	width:40%;
	margin: 5px;
	vertical-align:top;
}

.parole {
	margin-left: 10%
}


@media all and (max-device-width: 480px) {
	nav {
		display: none
	}
	button {
		font-size : 3em;
	}
	#navigation {
		font-size: 250%;
	}

}